<header>
  <nav class="py-3 pl-4 navbar-dark bg-custom-navbar-green" style="flex-wrap: wrap">
    {{ $logo_svg := resources.Get "logo.svg" | minify }}
    <a class="navbar-brand pl-2" href="{{ .Site.BaseURL }}"><img src="{{ $logo_svg.Permalink }}" alt="Albert for Future Logo" class="logo"></a>
  
    <ul class="navbar-nav mr-auto d-inline-block">
      <li class="nav-item d-inline px-1">
        <a href="{{ .Site.BaseURL }}" class="nav-link d-inline {{if .IsHome }} active{{end}}" title="Startseite">Startseite</a>
      </li>
      {{- $currentPage := . -}}
      {{- range .Site.Menus.main -}}
      <li class="nav-item d-inline px-1">
        <a class="nav-link d-inline {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}" title="{{ .Title }}">
          {{- .Name -}}
        </a>
      </li>
      {{- end -}}
      <li class="nav-item d-inline px-1">
        <button type="button" class="btn js-push-btn" aria-label="Push-Benachrichtigungen aktivieren" disabled>
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/></svg>
        </button>
      </li>
    </ul>
  </nav>
</header>