<header>
  <nav class="py-3 pl-4 navbar-dark bg-custom-navbar-green" style="flex-wrap: wrap">
    {{ $logo_svg := resources.Get "logo.svg" | minify }}
    <a class="navbar-brand pl-2" href="{{ .Site.BaseURL }}"><img src="{{ $logo_svg.Permalink }}" alt="Albert for Future Logo" class="logo"></a>
  
    <ul class="navbar-nav mr-auto d-inline-block">
      <li class="nav-item d-inline px-1">
        <a href="{{ .Site.BaseURL }}" class="nav-link d-inline {{if .IsHome }} active{{end}}" title="Startseite">Startseite</a>
      </li>
      {{- $currentPage := . -}}
      {{- range .Site.Menus.main -}}
      <li class="nav-item d-inline px-1">
        <a class="nav-link d-inline {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}" title="{{ .Title }}">
          {{- .Name -}}
        </a>
      </li>
      {{- end -}}
      <li class="nav-item d-inline px-1">
        <button type="button" class="btn js-push-btn" disabled>


        </button>
      </li>
    </ul>
  </nav>
</header>