{{ $paginator := .Paginator }}<!-- partials/index.html uses $paginator so this may be buggy -->
{{ $page := .Page }}
{{ if gt .Paginator.TotalPages 1 }}
<nav role="navigation" aria-label="Seitennavigation">
    <ul class="pagination justify-content-center">

      <li class="page-item{{ if not .Paginator.HasPrev }} disabled{{ end }}">
        <a class="page-link" aria-label="Vorherige Seite" {{ if not .Paginator.HasPrev }}tabindex="-1" aria-disabled="true"{{ else }}href="{{ .Paginator.Prev.URL }}"{{end}}>Zurück</a>
      </li>

      {{ range .Paginator.Pagers }}
        <li class="page-item{{ if eq . $paginator }} active" aria-current="page"{{ else }}"{{ end }}>
          <a class="page-link" aria-label="Seite {{ .PageNumber }}" href="{{ .URL }}" {{ if eq . $paginator }}aria-current="true"{{ end }}>{{ .PageNumber }}</a>
        </li>
      {{ end }}

      <li class="page-item{{ if not .Paginator.HasNext }} disabled{{ end }}">
        <a class="page-link" aria-label="Nächste Seite" {{ if not .Paginator.HasNext }}tabindex="-1" aria-disabled="true"{{ else }}href="{{ .Paginator.Next.URL }}"{{end}}>Vor</a>
      </li>
    </ul>
  </nav>
{{ end }}
