<div class="mb-4">
  <h2>{{ .Title }}</h2>
  <h6 class="mb-2">{{ .Date.Format "02.01.2006" }}

    {{ if isset .Params "categories" }}
    {{ $baseURL := .Site.BaseURL }}
        {{ range .Params.categories }}
            <a href="{{ $baseURL }}categories/{{ . | urlize }}/"><span class="badge bg-primary">{{ . }}</span></a>
        {{ end }}
    {{ end }}
    
    {{ if isset .Params "tags" }}
        {{ $baseURL := .Site.BaseURL }}
            {{ range .Params.tags }}
                <a href="{{ $baseURL }}tags/{{ . | urlize }}/"><span class="badge bg-secondary">{{ . }}</span></a>
            {{ end }}
    {{ end }}
    
  </h6>
  <p>{{ .Summary }}</p>
  <a href="{{ .RelPermalink }}">Weiterlesen</a>
</div>