<!doctype html>
<html class="h-100" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}de{{ end }}">
    {{- partial "head.html" . -}}
    <body class="d-flex flex-column h-100">
      {{ block "nav" . }}
        {{ partial "nav.html" . }}
      {{ end }}
      {{ block "header" . }}
        {{- partial "header.html" . -}}
      {{ end }}
      <main role="main" class="flex-shrink-0">
        <div class="container">
            {{- block "main" . }}{{- end }}
        </div>
      </main>
      {{ block "footer" . }}
        {{- partial "footer.html" . -}}
      {{ end }}
      {{ block "scripts" . }}
        {{- partial "scripts.html" . -}}
      {{ end }}
    </body>
</html>
