<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}de{{ end }}">
    {{- partial "head.html" . -}}
    <body>
      {{ block "nav" . }}
        {{ partial "nav.html" . }}
      {{ end }}
      {{ block "header" . }}
        {{- partial "header.html" . -}}
      {{ end }}
      <main>
        {{- block "main" . }}{{- end }}
      </main>
      {{ block "footer" . }}
        {{- partial "footer.html" . -}}
      {{ end }}
      {{ block "scripts" . }}
        {{- partial "scripts.html" . -}}
      {{ end }}
    </body>
</html>
