/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* center headers */
h1, h2, h3 {
  text-align: center;
}

img {
  width: 100%;
}

@media screen {
  body {
    overflow-y: scroll;
    background-color: #6dbd1c;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  /* navigation */
  nav {
    height: 3rem;
    background-color: #6dbd1c;
    top: 0;
    position: sticky;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  }

  nav > .nav-header {
    display: inline;
  }

  nav > .nav-header > .nav-title {
    display: inline-block;
    padding: 0.5rem;
  }

  nav > .nav-btn {
    display: none;
  }

  nav > .nav-links {
    display: inline;
    float: right;
    font-size: 120%; /**/
  }

  nav > .nav-links > a {
    display: inline-block;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    text-decoration: none;
    color: black;
  }

  nav > .nav-links > a.active {
    background: rgba(0,0,0,0.4);
  }

  nav > .nav-links > a:hover {
    background-color: #bd1c6d;
  }

  nav > #nav-check {
    display: none;
  }

  /* TODO mobile first css */
  @media (max-width: 38em) {
    nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    nav > .nav-btn > label {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
    }
    nav > .nav-btn > label:hover,.nav #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    nav > .nav-btn > label > span {
      display: block;
      width: 2rem;
      height: 0.9rem;
      border-top: 0.2rem solid white;
    }
    nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #6dbd1c;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
      overflow-y: hidden;
      top: 3rem;
      left: 0px;
      transform-origin: top;
    }

    nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    /* https://stackoverflow.com/questions/39790438/css-animation-works-only-first-time/39791108#39791108 */

    nav > #nav-check:not(:checked) ~ .nav-links {
      transform: scaleY(0);
    }

    nav > #nav-check:checked ~ .nav-links {
      transform: scaleY(1);
    }
  }

  .logo {
    width: 2em;
    height: 2em;
  }

  svg {
    height: 1em;
  }

  .bell {
    height: 3rem;
    display: inline-block;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  }

  main {
    padding: 1rem;
    max-width: 50rem;
    margin: auto;
  }

  a {
    color: black;
  }

  footer {
    text-align: center;
  }

  .loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -3.5em;
    margin-top: -3.5em;

    border: 1em solid #00000000;
    border-top: 1em solid #bd1c6d;
    border-radius: 50%;
    width: 7em;
    height: 7em;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #loader.hide {
    opacity: 0;
    visibility: hidden;
  }

  #loader {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: wait;
    background: rgba(0,0,0,0.5);
    user-select: none;
    transition: opacity 1s ease-in-out;
    visibility: visible;
    opacity: 1;
  }
}

@media print {
  nav, footer {
    display: none;
  }

  body {
    font-family: serif;
  }

  p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  ul, ol, h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 0.15em;
  }

  @page { orphans: 2; widows: 2; }

  ul, ol {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6, strong {
    page-break-after: avoid;
    page-break-inside: avoid;
    break-after: avoid;
    break-inside: avoid;
  }
  p {
    page-break-before: avoid;
    page-break-inside: avoid;
    break-before: avoid;
    break-inside: avoid;
  }

  /* UGLY HACK https://stackoverflow.com/a/53742871 */
  h1::after, h2::after {
    content: "";
    display: block;
    height: 50px;
    margin-bottom: -50px;
  }
}





/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
